<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="logRotateConfiguration" type="X_Rebirth_Save_Game_Editor.Logging.LogRotateConfigurationSection, X_Rebirth_Save_Game_Editor.Logging" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="X_Rebirth_Save_Game_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Info" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="Logging\x_rebirth_save_game_editor.log" footer="" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Overwrite" rollInterval="Hour" rollSizeKB="10240" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CommonListener" />
    </listeners>
    <formatters>
      <add template="Category: {category} - Timestamp: {timestamp(local)} &#xD;&#xA;Message: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add categoryFilterMode="DenyAllExceptAllowed" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter">
        <categoryFilters>
          <add name="Error" />
          <add name="Warning" />
          <add name="Info" />
          <add name="Verbose" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="Verbose" name="Verbose">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </add>
      <add switchValue="Error" name="Error">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </add>
      <add switchValue="Warning" name="Warning">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </add>
      <add switchValue="Information" name="Info">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="CommonListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <logRotateConfiguration>
    <LogRotateConfigEntries>
      <add FilesToKeep="100" />
    </LogRotateConfigEntries>
  </logRotateConfiguration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <userSettings>
    <X_Rebirth_Save_Game_Editor.Properties.Settings>
      <setting name="XRebirthPath" serializeAs="String">
        <value />
      </setting>
    </X_Rebirth_Save_Game_Editor.Properties.Settings>
  </userSettings>
</configuration>